.container
  .row
    .col-md-6 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et commodi, dolor sed eligendi minima, distinctio doloribus odio pariatur modi animi illo, voluptatum voluptate molestias dolore harum necessitatibus ut tempora eius!
    .col-md-6 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et commodi, dolor sed eligendi minima, distinctio doloribus odio pariatur modi animi illo, voluptatum voluptate molestias dolore harum necessitatibus ut tempora eius!
.containner
  %p Здесь некий текст